.input-container {
    position: relative;
  }
  
  .input-container input {
    padding-right: 30px; /* Adjust the padding to make space for the icon */
    position: relative;
  }
  
  .img {
    position: absolute;
    top: 40.4%;
    right: 2%;
    transform: translateY(-50%);
    color: rgb(0, 255, 0); /* Change color as needed */
    width: 4%;

  }