

.services .service-item .main-content {
    border-radius: 1px;
    padding: 80px 30px 50px 30px;
    background-color: #f1f0fe;
    margin-bottom: 30px;
    margin-right: 0px;
    transition: all .4s;
    text-align: center;
}

.container{
    margin-top: -120px;
}