<div class="main-banner" id="top">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="">
          <div class="item item-1">
            <div class="header-text"></div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
<div class="services section" id="services">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12 col-md-6" style="margin-top:-100px;text-align:center;margin-bottom:-100px;">
        <div class="service-item">
          <div class="main-content">
            <h4>Your Course And Subject</h4><br><br>
            
            <p *ngFor="let data of getstaffarray">Course Name : <b>{{data.coursename}}</b> </p>
            <p *ngFor="let data of getstaffarray">Trainer Name : <b><span style="text-transform:uppercase;">{{data.staff_firstname}} {{data.staff_lastname}}</span></b></p> 
            <p *ngFor="let data of getstaffarray">Subject Name : <b>{{data.subjectname}}</b>  </p>
            <p *ngFor="let data of getstaffarray">Duration : <b>{{data.duration}} Months</b> </p>
            <div class="main-button">
              <a href="#">Learn Now</a>
            </div>
            
            
            
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="service-item">
          <div class="main-content">
            <h4>Student Attendance </h4>
            
            <p>Your Attendance is <span *ngIf = "attendance_percentage >= 80" ><b style="color: rgb(12, 243, 12);font-size: x-large">{{attendance_percentage}}%</b></span>
              <span *ngIf="attendance_percentage >= 60 && attendance_percentage < 80" style="color: rgb(243, 149, 9);font-size: x-large"><b>{{attendance_percentage}}%</b></span>
              <span *ngIf = "attendance_percentage < 60" ><b style="color: rgb(232, 15, 15);font-size: x-large">{{attendance_percentage}}%</b></span></p>
            <div class="main-button">
              <a href="/studentmaster/attendance">View Attendance Report</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="service-item">
          <div class="main-content">
            <h4>Your Fees Details</h4>
            <p>View Your Fees Details Here</p>
            <div class="main-button">
              <a href="/studentmaster/feesview">View More</a>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>
<div class="contact-us section" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-6  align-self-center">
        <div class="section-heading">
          <h6>Contact Us</h6>
          <h2>Feel free to contact us anytime</h2>
          <p>Thank you for choosing our templates. We provide you best CSS templates at absolutely 100% free of charge. You may support us by sharing our website to your friends.</p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="contact-us-content">
          <form id="contact-form" action="" method="post" (ngSubmit)="submit()">
            <div class="row">
              <div class="col-lg-12">
                <fieldset>
                  <input type="name" name="name" id="name" placeholder="Your Name..." autocomplete="on" required [(ngModel)]="  Message.name">
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your E-mail..." required="" [(ngModel)]="Message.email">
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <textarea name="message" id="message" placeholder="Your Message" [(ngModel)]="Message.message"></textarea>
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <button type="submit" id="form-submit" class="orange-button">Send Message Now</button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>